/* Sidebar.css */


h2 {
  position: relative;
  top: 70px;
  right: 0;
  text-align: center;
  align-content: center;
  color: #ffffff; /* Cambia este valor al color que desees */
  font-size: 24-px; /* Cambia este valor al tamaño que desees */

}




h3 {
    position: relative;
    top: -0;
    right: -1150px;
    color: #ffffff; /* Cambia este valor al color que desees */
    font-size: 14px; /* Cambia este valor al tamaño que desees */


  }
  
  