
  .main-content{
    
    display: flex;
    color:  #474747; 
    font-size: 16px; 
    flex-basis:  20rem;
    flex-grow: 1;
    padding: 5px;
    position: relative;
    
  }

  .main-content-p{
    color:  #474747; 
    font-size: 16px; 
 
    
    }


  .correlation-grid th,
  .correlation-grid td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
  }
  
  .correlation-grid th {
    background-color: #f2f2f2;
  }

.title {
    box-sizing: border-box;
     margin:auto;
    position: relative;
    font-size: 25px;
    font-weight: 80;
    font-family: "Century Gothic", 'Lato', sans-serif;
    letter-spacing: var(--ls);
    overflow: hidden;
    background: var(--bg);
    align-items: center;
    justify-content: center;
    margin: auto;
    }


    
    
  