#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display:flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.container {

  flex-basis: 20rem;
  flex-grow: 1;
  overflow: hidden;
  
}

.main-table{

  display:flex
}